
.block {
    background: #feffc4;
    padding: 10px;
    height: 100%;
}

.rowBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
}

.root-grid {
    display: grid;
    width: 100%;
}

.block.black {
    background-color: #1b1c1d;
}

.block.olive {
    background-color: #b5cc18;
}
